    .chat-layout {
    display: flex;
    height: 100vh;
    background-color: #0b141a;
    }

    .chat-sidebar {
    width: 360px;
    background-color: #111b21;
    border-right: 1px solid #2a3942;
    }

    .chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #0b141a;
    }

    @media (max-width: 1024px) {
    .chat-sidebar {
        width: 300px;
    }
    }

@media (max-width: 768px) {
    .chat-layout {
        position: relative;
    }

    .chat-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 10;
    }

    .chat-layout.chat-active .chat-sidebar {
        display: none;
    }

    .chat-content {
        width: 100%;
    }
    }

@media (max-width: 320px) {
    .chat-sidebar {
        width: 100%;
    }
    }
